<html>
  <body>
    <form action='/submit' method='post' encType="multipart/form-data">
      <input type="checkbox" name="teen">
      <input type="checkbox" name="children">
      <input type="checkbox" name="adult">
      <input type="checkbox" name="foodRelated">
      <input type="checkbox" name="giftBasket">  
      <input type="file" name="file" />
      <input type='submit' value='Upload!' />
    </form>     
  </body>
</html>