<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Present Worthy</title>
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="../hi.png" type="image/png" />
</head>

<style>

label{
    text-align: "center";
}
fieldset{
    background-color: #FCE7B5;    
}
h3{
    text-align: center;
}

</style>

<body>

      <body style="background-color: #FEF8EB;">
      
    <h1 style="color:#062A4B; ">Present Worthy</h1>
    
    <form action="/submit" method="post" encType="multipart/form-data"> 

        <div class="uploadImage">
            <div>
                <h2 style="color:#E83021; font-family: 'Gill Sans MT', sans-serif;">Upload Image:</h3>            
                    
                        <label for="img">Select image:</label>
                        <input type="file" id="img" name="img" accept="image/*">
                        <input type="submit">
            </div>
        </div>
    
      <div class="checklist">
          <h2 style="right: 120pc; color: #E83021; font-family: 'Gill Sans MT', sans-serif;">Checklist:</h2>
          
          <fieldset style="width: 270pt">
              <h3 style="color:#062A4B; font-family: Calibri, 'Trebuchet MS', sans-serif;">Age:</h3>
              <div class="checkbox">
                 <label><input type="checkbox" value="children">Children</label>
              </div>
        
              <div class="checkbox">
                 <label><input type="checkbox" value="teen">Teen</label>
              </div>
              <div class="checkbox">
                    <label><input type="checkbox" value="adult">Adult</label>
               </div> 
      
              <h3 style="color:#062A4B; font-family: Calibri, 'Trebuchet MS', sans-serif;">Type of Present:</h3>
              <div class="checkbox">
                    <label><input type="checkbox" value="foodRelated">Food</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox"  value="giftBasket">Gift Basket</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="bDayCards">Birthday Cards</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="booksMovies">Books or Movies</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="colors">Colors</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="sports">Sports</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="music">Music</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="art">Art</label> 
              </div> <br><br>

                <input type="submit" value="Submit">
             
          </fieldset>    
      </div>
    </form>

</body>
