body{
    margin:0px;
    background-color:  #FEF8EB;
}
.search-container {
    float: left;
    height:3rem;
    
  }

button{
    float:right;
    padding: 6px 10px;
    margin-top:8px;
    margin-left: 16px;
    width: 10rem;
    height: 3rem;
}

.footer {
    padding: 20px;
    background-color: #FEF8EB;
    text-align: center;
 }